apache-airflow==2.10.5
apache-airflow-providers-docker==2.7.0
fastapi==0.115.6
starlette==0.41.3
uvicorn==0.34.0
docker==7.1.0
pydantic==2.10.4
python-multipart==0.0.20
SQLAlchemy==2.0.38
alembic==1.14.1
Jinja2==3.1.4
